<!-- inside app/views/welcome/index.html.erb -->  

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome</h1>
        <p class="lead text-muted">A simple rails app for environment setup</p>
        <p>
          <a href="/shirts" class="btn btn-primary my-2">Shirts</a>
          <a href="/places" class="btn btn-secondary my-2">Places action</a>
        </p>
      </div>
    </div>
  </section>
</main>