<p>A new shirt was taken by  <%= @shirt.name %></p>
<br /> Size: <%= @shirt.size %>
<br /> Num: <%= @shirt.numtaken %>
<br /> Date: <%= @shirt.takedate.strftime("%d/%m/%Y") %>

<br /> <br />To view all take details, please visit the take page:</p>
